doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://kit.fontawesome.com/d59cb5743b.js", crossorigin="anonymous")
    link(rel="stylesheet", href="dashboard.css")
    title Dashboard
  body
    .navbar
      .logo
        img(src="logo.png", alt="Dry Cleaning")
        //- span.logo-text Dry Cleaning
      ul.menu-items
        li.active
          a(href="dashboard")
            i.fas.fa-tachometer-alt
            span Dashboard
        li
          a(href="/profile")
            i.fas.fa-user
            span Profile
        li.logout
          a(href="/")
            i.fas.fa-sign-out-alt
            span Logout
    .main--content
      .header--wrapper
        .header--title
          h2 Dashboard
