doctype html
html
  head
    title Login Form
    link(rel="stylesheet", href="styles.css")
    style.
      
  body
    form(action="/login", method="POST")
      h2 Login
      .form-group
        label(for="username") Username:
        input(type="text", id="username", name="username", placeholder="Enter your username", required)
      .form-group
        label(for="password") Password:
        input(type="password", id="password", name="password", placeholder="Enter your password", required)
      .form-group
        input(type="submit", value="Login")
      p If you don't have an account,
      a(href="/register") Register here.
